/*nav filter*/
.x-btn-pressed.filter-btn .x-btn-text {
	background-image: url( 'images/funnel_X.gif' );
}

.filter-btn .x-btn-text {
	background-image: url( 'images/funnel_plus.gif' );
}

.expand-all-btn .x-btn-text {
	background-image: url( 'images/expandall.gif' );
}

.save-report-btn {
	background-image: url( 'images/save.gif' ) !important;
}

.collapse-all-btn .x-btn-text {
	background-image: url( 'images/collapseall.gif' );
}

.icon-map .x-btn-text {
	background-image: url( 'images/silk/user.gif' );
}

/*side nav*/
.tree-category-icon {
	background-image: url( images/silk/chart_organisation.gif ) !important;
}

.windows-category-icon {
	background-image: url( images/silk/application_cascade.gif ) !important;
}

.combo-category-icon {
	background-image: url( images/silk/script_edit.gif ) !important;
}

.toolbar-category-icon {
	background-image: url( images/silk/application_view_tile.gif )
		!important;
}

.grids-category-icon {
	background-image: url( images/silk/table.gif ) !important;
}

.forms-category-icon {
	background-image: url( images/silk/application_form_add.gif ) !important
		;
}

.tabs-category-icon {
	background-image: url(images/tabs.gif ) !important;
}

.buttons-category-icon {
	background-image: url( images/silk/brick.gif ) !important;
}

.panels-category-icon {
	background-image: url( images/silk/application_osx.gif ) !important;
}

.layout-category-icon {
	background-image: url( images/silk/application_side_list.gif )
		!important;
}

.misc-category-icon {
	background-image: url( images/silk/bullet_wrench.gif ) !important;
}

.combination-category-icon {
	background-image: url( images/silk/vcard_edit.gif ) !important;
}

.dd-category-icon {
	background-image: url( images/silk/layers.gif ) !important;
}

.resizable-nav-icon {
	background-image: url( images/silk/shape_handles.gif ) !important;
}

.progressbar-nav-icon {
	background-image: url( images/silk/film.gif ) !important;
}

.dataview-nav-icon {
	background-image: url( images/silk/application_view_list.gif )
		!important;
}

.colorpicker-nav-icon {
	background-image: url( images/silk/application_view_tile.gif )
		!important;
}

.datepicker-nav-icon {
	background-image: url( images/silk/calendar.gif ) !important;
}

.mask-nav-icon {
	background-image: url( images/silk/shading.gif ) !important;
}

.animation-nav-icon {
	background-image: url( images/silk/page_white_swoosh.gif ) !important;
}

.plugins-nav-icon {
	background-image: url( images/silk/plugin.gif ) !important;
}

.grid-icon {
	background-image: url( images/silk/table.gif ) !important;
}

.settings-icon {
	background-image: url( images/silk/folder_wrench.gif ) !important;
}

.folder-icon {
	background-image: url( images/silk/folder_go.gif ) !important;
}

.line-chart-icon {
	background-image: url( images/silk/chart_curve.gif ) !important;
}

.bar-chart-icon {
	background-image: url( images/silk/chart_bar.gif) !important;
}

.pie-chart-icon {
	background-image: url( images/silk/chart_pie.gif) !important;
}

.new-tab-icon {
	background-image: url(images/new_tab.gif) !important;
}

.tab-icon {
	background-image: url(images/tabs.gif ) !important;
}

/*common*/
.database-add-icon {
	background-image: url( images/silk/database_add.gif) !important;
}

.database-delete-icon {
	background-image: url( images/silk/database_delete.gif) !important;
}

.user-icon {
	background-image: url( images/silk/user.gif) !important;
}

.test-spacing {
	padding: 15px;
}

.x-panel-body p {
	margin: 10px;
	line-height: 1.25;
}

.dp-highlighter {
	font-size: 11px;
	font-family: monospace;
}

.dp-highlighter ol,.dp-highlighter ol li {
	font-family: monospace;
}

.grid-icon {
	background-image: url( images/silk/grid.gif ) !important;
}

.add-icon {
	background-image: url( images/silk/add.gif ) !important;
}

.delete-icon {
	background-image: url( images/silk/delete.gif ) !important;
}

.image-icon {
	background-image: url( images/silk/image.gif ) !important;
}

.user-add-icon {
	background-image: url( images/silk/user_add.gif ) !important;
}

.user-delete-icon {
	background-image: url( images/silk/user_delete.gif ) !important;
}

.book-icon {
	background-image: url( images/silk/book_open.gif ) !important;
}

.source-icon {
	background-image: url( images/silk/script_edit.gif ) !important;
}

.java-icon {
	background-image: url( images/silk/page_white_code.gif ) !important;
}

.css-icon {
	background-image: url( images/silk/css.gif ) !important;
}

.html-icon {
	background-image: url( images/silk/html.gif ) !important;
}

.xml-icon {
	background-image: url( images/silk/html.gif ) !important;
}

.xml-icon {
	background-image: url( images/silk/script_gear.gif ) !important;
}

.json-icon {
	background-image: url( images/silk/script_code.gif ) !important;
}

.world-icon {
	background-image: url( images/silk/world.gif ) !important;
}

.tree-icon {
	background-image: url( images/silk/sitemap_color.gif ) !important;
}

.search-icon {
	background-image: url( images/silk/page_find.gif ) !important;
}

.telephone-icon {
	background-image: url( images/silk/telephone.gif ) !important;
}

.paste-icon {
	background-image: url( images/silk/page_paste.gif ) !important;
}

.office-icon {
	background-image: url( images/silk/page_white_office.gif ) !important;
}

.excel-icon {
	background-image: url( images/silk/page_white_excel.gif ) !important;
}

.powerpoint-icon {
	background-image: url( images/silk/page_white_powerpoint.gif )
		!important;
}

.word-icon {
	background-image: url( images/silk/page_word.gif ) !important;
}

.visualstudio-icon {
	background-image: url( images/silk/page_white_visualstudio.gif )
		!important;
}

.c-icon {
	background-image: url( images/silk/page_white_c.gif ) !important;
}

.cpp-icon {
	background-image: url( images/silk/page_white_cplusplus.gif ) !important
		;
}

.csharp-icon {
	background-image: url( images/silk/page_white_csharp.gif ) !important;
}

.text-align-right {
	background-image: url( images/silk/text_align_right.gif ) !important;
}

.text-align-center {
	background-image: url( images/silk/text_align_center.gif ) !important;
}

.text-align-justify {
	background-image: url( images/silk/text_align_justify.gif ) !important;
}

.text-align-left {
	background-image: url( images/silk/text_align_left.gif ) !important;
}

.text-bold {
	background-image: url( images/silk/text_bold.gif ) !important;
}

.text-italic {
	background-image: url( images/silk/text_italic.gif ) !important;
}

.text-underline {
	background-image: url( images/silk/text_underline.gif ) !important;
}

.text-h1 {
	background-image: url( images/silk/text_heading_1.gif ) !important;
}

/*live search*/
.search-item {
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	padding: 3px 10px 3px 10px;
	border: 1px solid #fff;
	border-bottom: 1px solid #eeeeee;
	white-space: normal;
	color: #555;
}

.search-item h3 {
	display: block;
	font: inherit;
	font-weight: bold;
	color: #222;
}

.search-item h3 span {
	float: right;
	font-weight: normal;
	margin: 0 0 5px 5px;
	width: 100px;
	display: block;
	clear: none;
}

/*progress bar*/
.status {
	color: #555;
}

.x-progress-wrap.left-align .x-progress-text {
	text-align: left;
}

.x-progress-wrap.custom {
	height: 17px;
	border: 1px solid #686868;
	overflow: hidden;
	padding: 0 2px;
}

.ext-ie .x-progress-wrap.custom {
	height: 19px;
}

.custom .x-progress-inner {
	height: 17px;
	background: #fff;
}

.custom .x-progress-bar {
	height: 15px;
	background: transparent url( images/custom-bar.gif ) repeat-x 0 0;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #EFEFEF;
	border-right: 0;
}

/*data view*/
#images-view .x-panel-body {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

#images-view .thumb {
	background: #dddddd;
	padding: 3px;
}

#images-view .thumb img {
	height: 90px;
	width: 64px;
}

#images-view .thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

#images-view .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over {
	border: 1px solid #dddddd;
	background: #efefef
		url( js/ext/resources/images/default/grid/row-over.gif ) repeat-x left
		top;
	padding: 4px;
}

#images-view .x-view-selected {
	background: #eff5fb url( images/view/selected.gif ) no-repeat right
		bottom;
	border: 1px solid #99bbe8;
	padding: 4px;
}

#images-view .x-view-selected .thumb {
	background: transparent;
}

#images-view .loading-indicator {
	font-size: 11px;
	background-image:
		url( 'js/ext/resources/images/default/grid/loading.gif' );
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

/*showcase view*/
#showcase-view .x-panel-body {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

#showcase-view .thumb {
	background: #dddddd;
	padding: 3px;
}

#showcase-view .thumb img {
	height: 90px;
	width: 118px;
}

#showcase-view .thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

#showcase-view .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
}

#showcase-view .x-view-over {
	border: 1px solid #dddddd;
	background: #efefef
		url( js/ext/resources/images/default/grid/row-over.gif ) repeat-x left
		top;
	padding: 4px;
}

#showcase-view .x-view-selected {
	background: #eff5fb url( images/view/selected.gif ) no-repeat right
		bottom;
	border: 1px solid #99bbe8;
	padding: 4px;
}

#showcase-view .x-view-selected .thumb {
	background: transparent;
}

#showcase-view .loading-indicator {
	font-size: 11px;
	background-image:
		url( 'js/ext/resources/images/default/grid/loading.gif' );
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

/*forums remote grid*/
.x-grid3-td-topic b {
	font-family: tahoma, verdana;
	display: block;
}

.x-grid3-td-topic b i {
	font-weight: normal;
	font-style: normal;
	color: #000;
}

.x-grid3-td-topic .x-grid3-cell-inner {
	white-space: normal;
}

.x-grid3-td-topic a {
	color: #385F95;
	text-decoration: none;
}

.x-grid3-td-topic a:hover {
	text-decoration: underline;
}

.details .x-btn-text {
	background-image: url(images/details.gif);
}

/*chooser */
.details .x-panel-body {
	padding: 10px;
	text-align: center;
}

.details img {
	padding: 10px;
	height: 90px;
	width: 64px;
}

.details-info {
	border-top: 1px solid #cccccc;
	font: 11px Arial, Helvetica, sans-serif;
	margin-top: 5px;
	padding-top: 5px;
	text-align: left;
}

.details-info b {
	color: #555555;
	display: block;
	margin-bottom: 4px;
}

.details-info span {
	display: block;
	margin-bottom: 5px;
	margin-left: 5px;
}

.ychooser-dlg select {
	font-size: 12px;
}

#ychooser-view .x-panel-body {
	background: white none repeat scroll 0%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
}

#ychooser-view .thumb {
	background: #dddddd;
	padding: 3px;
}

#ychooser-view .thumb img {
	height: 90px;
	width: 64px;
}

#ychooser-view .thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

#ychooser-view .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
}

#ychooser-view .x-view-selected {
	background: #c3daf9;
	border: 2px solid #6593cf;
	padding: 3px;
}

#ychooser-view .x-view-selected .thumb {
	background: transparent;
}

#ychooser-view .loading-indicator {
	font-size: 11px;
	background-image:
		url('../../ext/resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

#ychooser-view .x-view-over {
	border: 1px solid #dddddd;
	background: #efefef
		url(../../resources/images/default/grid/row-over.gif) repeat-x left
		top;
	padding: 4px;
}

/*toolbar and menus*/
.bmenu {
	background-image: url( images/menu-show.gif ) !important;
}

/*message box*/
.x-window-dlg .ext-mb-download {
	background: transparent url(images/download.gif) no-repeat top left
		!important;
	height: 36px;
}

/*simple form */
.simple-form-label {
	padding: 5px;
	background-color: #CDEB8B;
	margin-bottom: 15px;
	border: #666666;
}

/*-----------------------------------NEW WORKS JAMAR--------------------------------*/
.icon-blue-na,
.icon-blue1,.icon-blue2,.icon-blue3,
.icon-check-green1,.icon-check-green2,.icon-check-green3,
.icon-check-orange1,.icon-check-orange2,.icon-check-orange3,
.icon-grey1,.icon-grey2,.icon-grey3,
.icon-play-green1,.icon-play-green2,.icon-play-green3,
.icon-play-red1,.icon-play-red2,.icon-play-red3,
.icon-fwd-red1,.icon-fwd-red2,.icon-fwd-red3,
.icon-fwd-green1,.icon-fwd-green2,.icon-fwd-green3,
.icon-red1,.icon-red2,.icon-red3,.icon-orange1,.icon-pause1  {
	background-repeat: no-repeat;
	width: 27px !important;
}

.icon-blue-na {
	background-image: url( images/utiles/icons/newworks/blue-na.png )
		!important;
}

.icon-blue1 {
	background-image: url( images/utiles/icons/newworks/blue1.png )
		!important;
}

.icon-blue2 {
	background-image: url( images/utiles/icons/newworks/blue2.png )
		!important;
}

.icon-blue3 {
	background-image: url( images/utiles/icons/newworks/blue3.png )
		!important;
}

.icon-check-green1 {
	background-image: url( images/utiles/icons/newworks/checkgreen1.png )
		!important;
}

.icon-check-green2 {
	background-image: url( images/utiles/icons/newworks/checkgreen2.png )
		!important;
}

.icon-check-green3 {
	background-image: url( images/utiles/icons/newworks/checkgreen3.png )
		!important;
}

.icon-check-orange1 {
	background-image: url( images/utiles/icons/newworks/checkorange1.png )
		!important;
}

.icon-check-orange2 {
	background-image: url( images/utiles/icons/newworks/checkorange2.png )
		!important;
}

.icon-check-orange3 {
	background-image: url( images/utiles/icons/newworks/checkorange3.png )
		!important;
}

.icon-grey1 {
	background-image: url( images/utiles/icons/newworks/grey1.png )
		!important;
}

.icon-grey2 {
	background-image: url( images/utiles/icons/newworks/grey2.png )
		!important;
}

.icon-grey3 {
	background-image: url( images/utiles/icons/newworks/grey3.png )
		!important;
}

.icon-play-green1 {
	background-image: url( images/utiles/icons/newworks/playgreen1.png )
		!important;
}

.icon-play-green2 {
	background-image: url( images/utiles/icons/newworks/playgreen2.png )
		!important;
}

.icon-play-green3 {
	background-image: url( images/utiles/icons/newworks/playgreen3.png )
		!important;
}

.icon-play-red1 {
	background-image: url( images/utiles/icons/newworks/playred1.png )
		!important;
}

.icon-play-red2 {
	background-image: url( images/utiles/icons/newworks/playred2.png )
		!important;
}

.icon-play-red3 {
	background-image: url( images/utiles/icons/newworks/playred3.png )
		!important;
}

.icon-fwd-red1 {
	background-image: url( images/utiles/icons/newworks/fwdred1.png )
		!important;
}

.icon-fwd-red2 {
	background-image: url( images/utiles/icons/newworks/fwdred2.png )
		!important;
}

.icon-fwd-red3 {
	background-image: url( images/utiles/icons/newworks/fwdred3.png )
		!important;
}

.icon-fwd-green1 {
	background-image: url( images/utiles/icons/newworks/fwdgreen1.png )
		!important;
}

.icon-fwd-green2 {
	background-image: url( images/utiles/icons/newworks/fwdgreen2.png )
		!important;
}

.icon-fwd-green3 {
	background-image: url( images/utiles/icons/newworks/fwdgreen3.png )
		!important;
}

.icon-red1 {
	background-image: url( images/utiles/icons/newworks/red1.png )
		!important;
}

.icon-orange1 {
	background-image: url( images/utiles/icons/newworks/orange1.png )
		!important;
}

.icon-pause1 {
	background-image: url( images/utiles/icons/newworks/pause1.png )
		!important;
}

.icon-red2 {
	background-image: url( images/utiles/icons/newworks/red2.png )
		!important;
}

.icon-red3 {
	background-image: url( images/utiles/icons/newworks/red3.png )
		!important;
}

/*-----------------------------------NEW WORKS JAMAR--------------------------------*/
.icon-work {
	background-image: url( images/utiles/tools.png ) !important;
	background-repeat: no-repeat;
}

.icon-butterfly {
	background-image: url( images/utiles/icons/logo_butt.png ) !important;
}

.icon-del {
	background-image: url( images/utiles/icons/delete.png ) !important;
}

.icon-time {
	background-image: url( images/utiles/icons/time_16.png ) !important;
	background-repeat: no-repeat;
}

.icon-rec {
	background-image: url( images/utiles/user.png ) !important;
}

.icon-no-ubic {
	background-image: url( images/utiles/Ubicar.png ) !important;
}

.icon-no-ubic-toolbar {
	background-image: url( 'images/utiles/Ubicar.png' );
	background-repeat: no-repeat;
	background-position: right;
}

.icon-favuser-toolbar .x-btn-text {
	background-image: url( 'images/utiles/icons/fav_user_16.png' );
}

.icon-favproc-toolbar .x-btn-text {
	background-image: url( 'images/utiles/icons/fav_proc_16.png' );
}

.icon-addfav-toolbar .x-btn-text {
	background-image: url( 'images/utiles/icons/favadd_16.png' );
}

.icon-searchwork-toolbar {
	background-image: url( 'images/utiles/icons/toolsprev_16.png' );
	background-repeat: no-repeat;
}

.icon-no-asig {
	background-image: url( images/utiles/compclose.png ) !important;
}

.icon-proximo {
	background-image: url( images/utiles/Proximo.png ) !important;
}

.icon-ejecucion {
	background-image: url( images/utiles/Ejecucion.png ) !important;
}

.icon-rechazo {
	background-image: url( images/utiles/Rechazo.png ) !important;
}

.icon-pausa {
	background-image: url( images/utiles/Pausar.png ) !important;
}

.icon-01AND {
	background-image: url( images/utiles/TQAcueductoAND.png ) !important;
}

.icon-02AND {
	background-image: url( images/utiles/TQSaneamientoAND.png ) !important;
}

.icon-01PAV {
	background-image: url( images/utiles/TQAcueductoPAV.png ) !important;
}

.icon-02PAV {
	background-image: url( images/utiles/TQSaneamientoPAV.png ) !important;
}

.icon-01ANP {
	background-image: url( images/utiles/TQAcueductoANP.png ) !important;
}

.icon-02ANP {
	background-image: url( images/utiles/TQSaneamientoANP.png ) !important;
}

.icon-01ZVE {
	background-image: url( images/utiles/TQAcueductoZVE.png ) !important;
}

.icon-02ZVE {
	background-image: url( images/utiles/TQSaneamientoZVE.png ) !important;
}

.icon-01 {
	background-image: url( images/utiles/TQAcueducto.png ) !important;
}

.icon-02 {
	background-image: url( images/utiles/TQSaneamiento.png ) !important;
}

.icon-03 {
	background-image: url( images/utiles/TQCasaSinAguaOld.png ) !important;
}

.icon-en-turno {
	background-image: url( images/utiles/circle_green.png ) !important;
}

.icon-cont {
	background-image: url( images/utiles/icons/clients_16.png ) !important;
}

.icon-recien-salidos {
	background-image: url( images/utiles/circle_yellow.png ) !important;
}

.icon-en-descanso {
	background-image: url( images/utiles/circle_red.png ) !important;
}

.icon-verif {
	background-image: url( images/utiles/circle_blue.png ) !important;
}

.icon-OKGPS {
	background-image: url( images/utiles/ETBien.png ) !important;
}

.icon-OK {
	background-image: url( images/utiles/ETSinGPS2.png ) !important;
}

.icon-OUT {
	background-image: url( images/utiles/ETFuera2.png ) !important;
}

.icon-00 {
	background-image: url( images/utiles/icons/00.png ) !important;
}

.icon-01 {
	background-image: url( images/utiles/icons/01.png ) !important;
}

.icon-10 {
	background-image: url( images/utiles/icons/10.png ) !important;
}

.icon-11 {
	background-image: url( images/utiles/icons/11.png ) !important;
}

.icon-20 {
	background-image: url( images/utiles/icons/20.png ) !important;
}

.icon-21 {
	background-image: url( images/utiles/icons/21.png ) !important;
}

.icon-prioridad-toolbar {
	background-image: url( 'images/utiles/prioridad.png' );
	background-repeat: no-repeat;
}

.icon-reset-toolbar {
	background-image: url( 'images/utiles/reset.png' );
	background-repeat: no-repeat;
}

.icon-refresh-toolbar .x-btn-text {
	background-image: url( 'images/utiles/refresh.png' );
	background-repeat: no-repeat;
}

.icon-search-toolbar {
	background-image: url( 'images/utiles/search.png' );
	background-repeat: no-repeat;
}

.icon-pathstart-toolbar {
	background-image: url( 'images/utiles/advance_16.png' );
	background-repeat: no-repeat;
}

.welcome {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #10418C;
}

.mod {
	cursor: pointer
}

.elim {
	cursor: pointer
}

.newelim {
	cursor: pointer;
	color: blue;
}

.attach {
	cursor: pointer
}

.gwt-Label{ 
			   font-size: 5pt; 
	}

.icon-clock-calendar {
	background-image: url( images/utiles/menu/clock-calendar.png ) !important;
	background-repeat: no-repeat;
}
.icon-industry {
	background-image: url( images/utiles/menu/industry.png ) !important;
	background-repeat: no-repeat;
}
.icon-filter-data {
	background-image: url( images/utiles/menu/filter-data.png ) !important;
	background-repeat: no-repeat;
}
.icon-map {
	background-image: url( images/utiles/menu/map.png ) !important;
	background-repeat: no-repeat;
}
.icon-route-map {
	background-image: url( images/utiles/menu/route-map.png ) !important;
	background-repeat: no-repeat;
}
.icon-table-information {
	background-image: url( images/utiles/menu/table-information.png ) !important;
	background-repeat: no-repeat;
}
.icon-blue-diamond{
background-image: url(images/utiles/icons/newworks/bluediamond.png) !important;
background-repeat: no-repeat;
}

.icon-red-diamond{
background-image: url(images/utiles/icons/newworks/reddiamond.png) !important;
background-repeat: no-repeat;
}

.icon-orange-diamond{
background-image: url(images/utiles/icons/newworks/orangediamond.png) !important;
background-repeat: no-repeat;
}
.icon-green-diamond{
background-image: url(images/utiles/icons/newworks/greendiamond.png) !important;
background-repeat: no-repeat;
}
